

<div class="p-4 min-h-[60vh] bg-[#879996] text-white">
    <h2 class="text-center text-xl">¡Somos afortunados!</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-10">
     
      <div class="flex flex-col items-center">
        <img src="/Imagenes/v2.jpg" alt="Imagen 1" class="w-32 h-32 rounded-full object-cover mb-2">
        <h1 class="text-center text-sm">15 años de experiencia</h1>
        <p class="text-center text-sm">Texto 4</p>
      </div>
  
      <div class="flex flex-col items-center">
        <img src="/Imagenes/v2.jpg" alt="Imagen 2" class="w-32 h-32 rounded-full object-cover mb-2">
        <h1 class="text-center text-sm">15 años de experiencia</h1>
        <p class="text-center text-sm">Texto 4</p>
      </div>
  
      <div class="flex flex-col items-center">
        <img src="/Imagenes/v2.jpg" alt="Imagen 3" class="w-32 h-32 rounded-full object-cover mb-2">
        <h1 class="text-center text-sm">15 años de experiencia</h1>
        <p class="text-center text-sm">Texto 4</p>
      </div>
  
      <div class="flex flex-col items-center">
        <img src="/Imagenes/v2.jpg" alt="Imagen 4" class="w-32 h-32 rounded-full object-cover mb-2">
        <h1 class="text-center text-sm">15 años de experiencia</h1>
        <p class="text-center text-sm">Texto 4</p>
      </div>
  
      <div class="flex flex-col items-center">
        <img src="/Imagenes/v2.jpg" alt="Imagen 5" class="w-32 h-32 rounded-full object-cover mb-2">
        <h1 class="text-center text-sm">15 años de experiencia</h1>
        <p class="text-center text-sm">Texto 4</p>
      </div>
    </div>
  </div>
  
  