---
import Reviews from "./Reviews.astro";
---

<!-- Pagina Nosotros -->
<section class="p-4 min-h-[60vh] bg-[#879996] text-white">
  <h2 class="text-center text-6xl font-semibold">Sobre Nosotros</h2>
  <p class="mt-6 max-w-4xl mx-auto text-justify text-sm sm:text-xl leading-relaxed">
    En <strong>Afortunados</strong>, llevamos más de 15 años transformando sueños en experiencias inolvidables.
    Comenzamos como una sencilla página de Facebook ofreciendo alojamientos y tours locales en La Fortuna, y gracias
    al compromiso y pasión de nuestro equipo, hoy somos una plataforma integral y exclusiva de servicios turísticos
    en Costa Rica.<br><br>
    Contamos con nuestras propias casas vacacionales, cuidadosamente diseñadas para brindar comodidad, calidez y una
    conexión genuina con la naturaleza. Además, poseemos acuerdos exclusivos con parques y los mejores operadores
    turísticos del país, lo que nos permite ofrecer no solo los mejores precios, sino también un acompañamiento
    cercano para disfrutar plenamente de cada destino.<br><br>
    Nuestra pasión por las experiencias únicas trasciende fronteras, organizando viajes exclusivos para nuestros
    clientes hacia fascinantes destinos internacionales como Turquía, Indonesia, Tailandia, Grecia, México,
    Suramérica y las hermosas capitales europeas.<br><br>
    Lo que verdaderamente nos distingue es nuestro equipo multidisciplinario, con amplia experiencia en hotelería,
    gastronomía, ventas, operaciones turísticas y atención personalizada. Creemos profundamente que la
    responsabilidad y el cuidado en cada detalle marcan la diferencia.<br><br>
    En <strong>Afortunados</strong>, no vendemos solo servicios turísticos, compartimos experiencias cargadas de
    calidez familiar, tranquilidad y confianza. Nuestra misión es clara: convertirnos en la plataforma líder y
    referente para descubrir Costa Rica de una manera auténtica, segura, personalizada y llena de la hospitalidad
    costarricense.<br><br>
    <em>¡Bienvenido a Afortunados, donde cada viaje es una historia que querrás contar una y otra vez!</em>
  </p>

 
</section>
<div class="w-full">
  <Reviews />
</div>
