---
import "../styles/global.css";
---

<div class="flex flex-col">
  <div
    class="flex flex-col items-center justify-center px-4 sm:px-6 md:px-12
		  bg-no-repeat bg-cover bg-center bg-[url('/Imagenes/v2.jpg')]
		  min-h-[710px] w-full relative"
  >
    <!-- Capa de oscurecimiento -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- Contenido centrado en móviles, alineado a la izquierda en pantallas grandes -->
    <div
      class="relative flex flex-col items-center text-center md:items-start md:text-left justify-center w-full h-full z-10"
    >
      <p class="text-white text-xl md:text-2xl lg:text-4xl font-serif">
        ¡SOMOS AFORTUNADOS! <br /> ¿Y VOS?
      </p>
      <p class="text-white text-sm sm:text-base md:text-base lg:text-lg font-sans mt-4">
        Descubre, explora, vive y siente <br />
        Contáctanos para unas vacaciones inolvidables
      </p>
      <a
        href="#"
        class="mt-5 px-4 py-2 text-white rounded-full border border-white hover:bg-white hover:text-black transition"
      >
        Explora
      </a>
    </div>
  </div>
</div>

